<h1>Welcome to Django with PostgreSql</h1>
<p><a href="{% url 'login' %}" style="text-decoration: none">Login Page</a></p>
<p><a href="{% url 'registration' %}" style="text-decoration: none">Registration Page</a></p>
<p><a href="{% url 'vehicleParticular' %}" style="text-decoration: none">Get details of a vehice</a></p>
<p><a href="{% url 'vehicleAll' %}" style="text-decoration: none">Get list of all registered vehicles</a></p>
<p><a href="{% url 'vehicleClassEntry' %}" style="text-decoration: none">Vehicle class entry</a></p>
<p><a href="{% url 'vehicleEntry' %}" style="text-decoration: none">Vehicle details entry (binding dropdown list with db)</a></p>
<p><a href="{% url 'entryForm' %}" style="text-decoration: none">Another method of binding dropdown list with db - 2</a></p>
<p><a href="{% url 'base' %}" style="text-decoration: none">block template</a></p>