<style>
    h5{
        color: red
    }
    h4{
        color: green
    }
</style>
<p><a href="{% url 'index' %}" style="text-decoration: none">Home</a></p>
<h1>User Registration Form</h1>
{% for message in messages %}
    {% if message == Success %}
        <h4>User created succesfully</h4>
    {% else %}
        <h5>{{message}}</h5>
    {% endif %}
{% endfor %}

<form method="POST" action="registration">
    {% csrf_token %}
    <p>Username:</p>
    <input type="text" name="username" autocomplete="off"/> <br/>
    <p>Email-id:</p>
    <input type="email" name="email" autocomplete="off"/> <br/>
    <p>Password:</p>
    <input type="password" name="password"/> <br/>
    <p>Repeat Password:</p>
    <input type="password" name="password2"/> <br/><br/>
    <input type="submit"/>
</form>
