<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Another method of binding dropdown list with db - 2{% endblock %}</title>
        <style>
            h5{
                color: red
            }
            h4{
                color: green
            }
        </style>
    </head>
    <body>
    <p><a href="{% url 'index' %}" style="text-decoration: none">Home</a></p>
    <h1>Vehicle Registration Form</h1>

    {% for message in messages %}
        {% if message == 'Success' %}
            <h4>Vehicle registered succesfully</h4>
        {% else %}
            <h5>{{message}}</h5>
        {% endif %}
    {% endfor %}

    <form method="POST" action="entrySave" autocomplete="off">
        {% csrf_token %}
        <p>Vehicle No:<br>
        <input type="text" name="regn_no" minlength="8" maxlength="10" style="text-transform:uppercase"/> </p>
        <p>Owner Name:<br/>
        <input type="text" name="owner_name"/> </p>
        <p>Registration Date: <br/>
        <input type="date" name="regn_dt"/></p>
        <p>No. of cylinders:<br/>
        <input type="number" name="no_cyl"/> </p> 

        {% block vhclass %}
        {% endblock vhclass %}

        <input type="submit" name="sbmt_btn" value="Submit"/>
    </form>
    </body>
</html>